{% extends "chouti_like/mather_tpl.html" %}


{% block top_right %}
    {% if username %}
        <span class="top_title">
            欢迎登录:
            <a href="http://www.baidu.com" class="top_title">{{ username }}</a>
            <a href="/chouti_like/session_logout/" class="top_title">注销</a>
        </span>
    {% else %}
        <a class="top_title" href="/chouti_like/session_login/">登录</a>
        <a class="top_title" href="/chouti_like/session_register/">注册</a>
    {% endif %}
{% endblock %}


{% block pg_main_content %}

    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index<br/>
    this is index
    this is index


{% endblock %}