<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <style>
        .center_dialog{
            height: 300px;
            width: 300px;
            background-color: antiquewhite;
            position: fixed;
            top:50%;
            left:50%;
            margin-left: -150px;
            margin-top: -150px;
        }

        .center_dialog_inner{
            margin: 30px;
        }

    </style>
</head>
<body>

    <div class="center_dialog">
        <div class="center_dialog_inner">
            <p><a href="/jd_like/ajax_demo_register/">注册</a></p>
            <p><a href="/jd_like/ajax_demo_login/">登录</a></p>
        </div>
    </div>


    <script src="/statics/plugin/jquery.js"></script>
</body>
</html>